/DuplicateElementsInArray.class
/FactorialOfNumber.class
/FirstNegativeInArray.class
/FizzBuzz.class
/ForLoopExamples.class
/NumberPattern.class
/PalindromeString.class
/PrimeNumberSkipNumberDivisibleby5.class
/RightAnglePattern.class
/SkppingSpecificIndices.class
/SumOfOddNumber.class
