/LambdaExample.class
/MyInterface.class
/DefaultMethodInterface.class
/DefaultInterfaceMainClass.class
/DefaultInterfaceMainClass$1.class
/StaticMethodInterface.class
/StaticMethodMainClass.class
/StaticMethodMainClass$1.class
/FunctionExample.class
/PredicateExample.class
/ConsumerExample.class
/SupplierExample.class
/StreamAPIExample.class
/FamilyMember.class
/Employee.class
/DateAndTimeExample.class
/LocalDateExample.class
/LocalTimeExample.class
/LocalDateAndTimeExample.class
/ZonedDateAndTimeExample.class
/CollectorsExample.class
/Base64EncoderExample.class
/Base64DecoderExample.class
/OptionalExample.class
